* {
  box-sizing: border-box;
}

.heading {
  display: flex;
  align-items: center;
  color: white;
}

.avatar--card {
  height: 40px;
  width: 40px;
  font-size: 13px;
  line-height: 40px;
  margin: 10px 20px;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  font-family: Rubik, 'Open Sans', 'sans serif';
}

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 0 0 10px 0;
  font-size: 1.5rem;
  color: #ddd;

  a:active {
    color: white;
  }
}

.nav-item {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.card {
  display: grid;
  grid-template-rows: repeat(4, auto);
  background: white;
  width: 100%;
  border-bottom: 0.5px solid lightslategray;
  color: rgba(12, 2, 1, 0.8);
  margin-top: 10px;
}

.card-header {
  display: grid;
  grid-template-columns: 50px auto 30px;
  width: 100%;
}

.card-detail {
  display: grid;
  margin-left: 20px;
  padding: 10px 0;
  align-items: stretch;
}

.author {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.time {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.context {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-right: 20px;
}

.card-body {
  padding: 0 20px;
  line-height: 1.6rem;
}

.card-tags-container {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  color: white;
  padding: 5px 20px;
}

.card--tag {
  list-style: none;
  background: #6558f5;
  padding: 3px 6px;
  margin: 0px 5px 0px 0px;
  border-radius: 2px;
  font-size: 0.7em;
}

.card-stats-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px 10px 10px;
  margin: 0 0;
}

.card-stats {
  margin: 0 8px;
  font-size: 0.9rem;
  font-weight: bold;
}
