/* Coolors Exported Palette - coolors.co/7fb7be-d3f3ee-dacc3e-bc2c1a-7d1538 */

/* HSL */
$color1: hsla(187%, 33%, 62%, 1);
$color2: hsla(171%, 57%, 89%, 1);
$color3: hsla(55%, 68%, 55%, 1);
$color4: hsla(7%, 76%, 42%, 1);
$color5: hsla(340%, 71%, 29%, 1);

/* RGB */
$color1: rgba(127, 183, 190, 1);
$color2: rgba(211, 243, 238, 1);
$color3: rgba(218, 204, 62, 1);
$color4: rgba(188, 44, 26, 1);
$color5: rgba(125, 21, 56, 1);